header {
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
    font-size: 35px;
}